parameters:
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/autoload.php
    paths:
        - %currentWorkingDirectory%/src
    ignoreErrors:
        - '#no value type specified in iterable#'
        - '#does not specify its types: T#'
        - '#Parameter \#1 ...\$x of method Doctrine\\ORM\\Query\\Expr::orX\(\) expects Doctrine\\ORM\\Query\\Expr\\Andx\|Doctrine\\ORM\\Query\\Expr\\Comparison\|Doctrine\\ORM\\Query\\Expr\\Func\|Doctrine\\ORM\\Query\\Expr\\Orx\|string, Doctrine\\ORM\\Query\\Expr\\Andx\|Doctrine\\ORM\\Query\\Expr\\Comparison\|Doctrine\\ORM\\Query\\Expr\\Func\|Doctrine\\ORM\\Query\\Expr\\Orx\|string\|null given.#'
        - '#Parameter \#1 ...\$x of method Doctrine\\ORM\\Query\\Expr::andX\(\) expects Doctrine\\ORM\\Query\\Expr\\Andx\|Doctrine\\ORM\\Query\\Expr\\Comparison\|Doctrine\\ORM\\Query\\Expr\\Func\|Doctrine\\ORM\\Query\\Expr\\Orx\|string, Doctrine\\ORM\\Query\\Expr\\Andx\|Doctrine\\ORM\\Query\\Expr\\Comparison\|Doctrine\\ORM\\Query\\Expr\\Func\|Doctrine\\ORM\\Query\\Expr\\Orx\|string\|null given.#'